.main{
    display :grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
        "left-tab timetable"
        "bottom-tab bottom-tab";
}
.timetableContainer{
    grid-area: timetable;
    height: 100%;
    width: 100%;
}
.timetableContainer > table{
    height: 100%;
    width: 100%;
}